<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Vue Example</title>
  <script src="./static/js/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./static/elementui/lib-master/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="./static/datav.map.vue.js"></script>
  <script src="./static/elementui/lib-master/index.js"></script>
  <script src="./static/js/axios.js"></script>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  </style>
</head>

<body>

  <div id="app">

    <div style="width: 100%;height: 100%;background-color: #fff;color: #fff;">
      <el-steps :active="active" finish-status="success">
        <el-step title="步骤 1"></el-step>
        <el-step title="步骤 2"></el-step>
        <el-step title="步骤 3"></el-step>
        <el-step title="步骤 4"></el-step>
        <el-step title="步骤 5"></el-step>
      </el-steps>

      
      <el-form v-if="shouldShowForm" ref="projectCreate_form" :model="projectCreate_form" label-width="100px">
        <el-form-item label="文件上传">
          <input type="file" id="file" style="display: none" webkitdirectory />
          <el-input placeholder="请选择文件" v-model="projectCreate_form.file_path" class="input-with-select">
            <el-button slot="append" icon="el-icon-folder-opened" @click="openFile"></el-button>
          </el-input>
        </el-form-item>

        <el-form-item label="采样率（Hz）">
          <el-input-number v-model="projectCreate_form.sampling_rate" :min="0" :max="1000" :step="1" size="large"
            controls-position="right">

          </el-input-number>
        </el-form-item>
        <el-form-item label="截取时长（s）">
          <el-input-number v-model="projectCreate_form.slice_duration_s" :min="0" :max="1000" :step="0.1" size="large"
            controls-position="right">

          </el-input-number>
        </el-form-item>
        <el-form-item label="提前时长（s）">
          <el-input-number v-model="projectCreate_form.slice_ahead_s" :min="0" :max="1000" :step="0.1" size="large"
            controls-position="right">

          </el-input-number>
        </el-form-item>
        <el-form-item label="项目名称">
          <el-input v-model="projectCreate_form.project_name" placeholder="请输入项目名称"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="createProject">立即创建</el-button>

        </el-form-item>
      </el-form>
      
      <img :src="currentImage" alt="My Image" style="max-width: 500px; max-height: 500px;">
      <el-button style="margin-top: 12px;" @click="forward">上一步</el-button>
      <el-button style="margin-top: 12px;" @click="next">下一步</el-button>
    </div>


  </div>


  <script>



    

   

    var app = new Vue({

      el: '#app',
      data: {
        active:0,
        projectCreate_form: {
          file_path: '',
          sampling_rate: 400,
          slice_duration_s: 10,
          slice_ahead_s: 2.5,
          project_name: ''
        },
      },
      computed: {
        shouldShowForm() {
      return this.active === 0;
    },
currentImage() {

  return ".\\image\\"+this.active+".png"

}
},
      mounted() {


      },
      methods: { 
        openFile() {
          document.getElementById("file").click();
        },
        next() {
        if (this.active++ > 3) this.active = 0;
      },
      forward() {
        if (this.active-- < 0) this.active = 4;
      }
        }

      }
    

    )

  </script>

  <style>

  </style>



</body>

</html>